#header-image {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
}

#loginbtn {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-left: 25%;
        margin-right: 25%;
}