.register-nav {
    display: flex;
    justify-content: space-evenly;
}

.button {
    background-color: #cde5d7;
    border: white;
    color: black;
    padding: 15px 32px;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 18px;
}

.new-button {
    background-color: #cde5d7;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.anim-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
